<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoPong</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/home.css') }}">
    <script src="{{ url_for('static', filename='./js/home.js') }}" defer></script>
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="box-icon profile dropbtn" onclick="myFunction()">
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="top container">
                <div class="box-icon"></div>
                <div class="box-icon"></div>
                <div class="box-icon"></div>
                <div class="box-icon"></div>
            </div>
            <div class="bottom container">
                <div class="box-icon"></div>
                <div class="box-icon"></div>
                <div class="box-icon"></div>
            </div>
        </div>

        <div id="navbar-drop" class='resizable'>
            <div class='resizers'>
                <div class='resizer right'></div>
            </div>
            <div class="container">
                <div class="top container">
                    <div class="block selected">
                        <span  class="span material-icons">keyboard_double_arrow_right</span>
                        <p class="text">prueba de overflow</p>
                        <span class="span">2</span>
                    </div>
                    <div class="block">
                        <span  class="span material-icons">keyboard_double_arrow_right</span>
                        <p class="text">prueba de overflow</p>
                        <span class="span">2</span>
                    </div>
                    <div class="block">
                        <span  class="span material-icons">keyboard_double_arrow_right</span>
                        <p class="text">prueba de overflow</p>
                        <span class="span">2</span>
                    </div>
                </div>
                <hr class="separator">
                <div class="middle container">
                    <p class="text">prueba de overflow</p>
                    <p class="text">prueba de overflow</p>
                    <p class="text">prueba de overflow</p>
                </div>
                <hr class="separator">
                <div class="bottom container">
                    <div class="block">
                        <span  class="span material-icons">keyboard_double_arrow_right</span>
                        <p class="text">prueba de overflow</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="content" class="content">
            <div class='resizers'>
                <div class='resizer right'></div>
            </div>
            <button id="button" class="hide-drop">
                <span id="drop_icons_right" class="material-icons arrow-right">keyboard_double_arrow_right</span>
                <span id="drop_icons_left" class="material-icons arrow-left">keyboard_double_arrow_left</span>
            </button>
        </div>

        <div class="info">

        </div>
    </div>
</body>
</html>