
:root {
    --backgroun-color: #252525;
    --text-main-color: #96afa3;
    --navbar-color: #101010;
    --navbar-drop-color: #202020;
    --left-margin-content: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto !important;
    background-color: var(--backgroun-color);

    width: auto;
    height: auto;
}

.main {
    display: grid;
    grid-template-columns: min-content min-content min-content auto;
}

.navbar {
    height: 100vh;
    width: 3rem;
    background-color: var(--navbar-color);
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: min-content repeat(2, auto);
    z-index: 10;
}

.navbar .container {
    width: auto;
    display: grid;
}

.navbar .top.container {
    grid-template-rows: repeat(4, max-content);
}
.navbar .bottom.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: end;
    grid-template-rows: repeat(3, min-content);
    overflow-wrap: anywhere;
    transition: opacity 0.5s, visibility 1s;
}

@media screen and (max-height: 450px) {
    .navbar .bottom.container {
        opacity: 0;
        visibility: hidden;
    }
}

.box-icon.profile {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
 }

.box-icon{
    position: relative;
    background-color: var(--text-main-color);
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-self: center;
    justify-self: center;
    border-radius: 25%;
    transition: width 0.1s, height 0.1s;
}

.box-icon:hover {
    width: 2.1rem;
    height: 2.1rem;
    background-color: #3f5952;
    cursor: pointer;
}

.resizable .text{
    color: var(--text-main-color);
    font-size: 0.9rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
}
.resizable {
    background: var(--navbar-drop-color);
    width: 15rem;
    min-width: 15rem;
    max-width: 20rem;
    height: 100vh;
    position: relative;
    float: left;
}

.resizable .container {
    display: grid;
    grid-template-rows: max-content min-content auto min-content auto;
    overflow: hidden;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.resizable .container .top.container {
    display: grid;
    grid-template-rows: auto auto auto;
}

.block {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: min-content auto auto;
}

.resizable .container .top.container .block:hover {
    background-color: rgba(224, 215, 215, 0.03);
}

.resizable .container .top.container .block.selected {
    background-color: rgba(224, 215, 215, 0.35);
}

.resizable .container .top.container .block.selected:hover {
    background-color: rgba(238, 230, 230, 0.35);
}

.resizable .resizers{
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.resizable .resizers .resizer{
    width: 5px;
    height: 100vh;
    background: rgba(89, 87, 87, 0.45);
    position: absolute;
}

.resizable .resizers .resizer.right {
    color: transparent;
    right: -5px;
    top: 0;
    cursor: ew-resize;
}

.content {
    width: 40vw;
    max-width: 40vw;
    min-width: 25vw;
    background-color: var(--backgroun-color);
}

@media all and (min-width: 900px){
    .content {
        max-width: 65vw;
        min-width: 25vw;
    }
}

.content .resizers{
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.content .resizers .resizer{
    width: 5px;
    height: 100vh;
    background: rgba(89, 87, 87, 0.45);
    position: relative;
}

.content .resizers .resizer.right {
    color: transparent;
    float: right;
    top: 0;
    z-index: 300;
    cursor: ew-resize;
}

.content .hide-drop {
    position: relative;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #94969D77;
    margin: 20px 20px 20px;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    display: grid;
}

.main .content .hide-drop:hover {
    background-color: #e0d7d7;
    cursor: pointer;
}

.material-icons.arrow-left{
    position: absolute;
}

.material-icons.arrow-right{
    position: absolute;
    visibility: hidden;
}

.span {
    align-self: center;
    justify-self: center;
    margin-left: 10px;
    margin-right: 10px;
    color: #e0d7d7;
}

.info {
    justify-self: end;
    background-color: #252525;
    width: 100%;
    height: 100vh;
}

@media all and (max-width: 900px){
    .info {
        width: 0px;
        visibility: hidden;
    }
    .content {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .content .resizers .resizer.right {
        visibility: hidden;
    }
}